@model WebApp.Models.Team

@{
    ViewBag.Title = "Редактировать";
}

<h2>Редактировать</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.SportId)
    @Html.HiddenFor(x => x.Id)
    <div class="form-horizontal">
        <h4>Команда</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="row gap">
                <div class="col-xs-3">
                    @Html.Label("Name", "Название команды")
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>
            <div class="row gap">
                <div class="col-xs-3">
                    @Html.LabelFor(x => x.ImageUrl)
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ImageUrl)
                </div>
            </div>
            <div class="row gap">
                <div class="col-xs-3">
                    @Html.LabelFor(x => x.City)
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.City)
                </div>

            </div>
            @*<div class="row gap">
                <div class="col-xs-3">
                    @Html.LabelFor(x => x.CaptainId)
                </div>
                <div class="col-xs-3">
                    @Html.DropDownListFor(x => x.CaptainId, Model.Players.Select(x=>new SelectListItem { Selected=x.Id==Model.CaptainId, Text=x.Name, Value=x.Id.ToString() }).ToList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CaptainId)
                </div>
            </div>*@
            <div class="row gap">
                <div class="col-xs-3">
                    @Html.LabelFor(x => x.Description)
                </div>
                <div class="col-xs-3">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
            @for (int i = 0; i < Model.Properties.Count; i++)
            {
                <div class="row gap">
                    <div class="col-xs-3">
                        <label>@Model.Properties[i].TeamPropertyType.Name</label>
                    </div>
                    <div class="col-xs-3">
                        @Html.TextBoxFor(x => x.Properties[i].Value, new { @class = "form-control" })
                        @Html.HiddenFor(x => x.Properties[i].TeamPropertyTypeId)
                        @Html.ValidationMessageFor(x => x.Properties[i].Value)
                        @Html.HiddenFor(x => x.Properties[i].Id)
                    </div>
                </div>
            }
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

