@{
    ViewBag.Title = "Чайтик";
}

<h2>Здесь представлены конкретные реализации <b>"Чайтика"</b></h2>

<ul>
    <li>@Html.ActionLink("Евгений Ли", "Lee")</li>
    <li>@Html.ActionLink("Максим Сарычев", "Sarychev")</li>
    <li>@Html.ActionLink("Александр Аврамов", "Avramov")</li>
    <li>@Html.ActionLink("Валентин Краковецкий", "Krakovetsky")</li>
    <li>@Html.ActionLink("Костик", "Kostya")</li>
</ul>